.header-container {
  display: flex;
  align-items: center;
}

.list-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  margin-left: auto;
}

/*section-three*/

.name-prof {
  padding: 32px 0;
}

.team-heading {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.page-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.list-item-team {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-name {
  margin-bottom: 8px;
}

.team-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.profession-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.list-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-networks {
  width: 40px;
  height: 40px;
}

.icons-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
  background-color: #404bbf;
}

.icons-svg {
  fill: #f4f4fd;
}

.list-item-team {
  background-color: #ffffff;
}
/*section-four*/
.list-item-portfolio {
  width: calc((100% - 48px) / 3);
}

.options {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.options-portfolio {
  margin-bottom: 8px;
}

.page-portfolio {
  padding: 120px 0 120px 0;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.heading-our-portfolio {
  margin-bottom: 72px;
}

.heading-our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.options-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.properties-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.container-samb {
  position: relative;
  overflow: hidden;
}

.paragraph-overlay {
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-item-portfolio:hover .paragraph-overlay {
  transform: translateY(0);
}

.list-item-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer {
  padding: 100px 0;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-paragrapf {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-paragrapf-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.page-container {
  display: flex;
  align-items: baseline;
}

.container-footer {
  margin-right: 120px;
}

.footer-link-social:hover,
.footer-link-social:focus {
  background-color: #31d0aa;
}

.container-form {
  margin-left: auto;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.paragraph-footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background-color: #31d0aa;
}

.input-email-footer {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email-footer::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.icon-frame {
  margin-left: 16px;
  fill: white;
}

.input-email-footer:hover,
.input-email-footer:focus {
  border-color: #31d0aa;
}

/*modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.btn-modal {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border: none;
  background: transparent;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon-modal-close {
  width: 8px;
  height: 8px;
  stroke: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-model {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 360px;
  margin-bottom: 16px;
}
.form-contacts {
  margin-bottom: 8px;
}
.label-form {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus {
  border-color: #4d5ae5;
}

.icons-form {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 16px 8px 16px 8px;
}

.textarea-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.label-chekbox {
  width: 360px;
  height: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.btn-form-sobmit {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-svg-form {
  fill: #2e2f42;
  position: relative;
}

.input-svg-form svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.input-form:focus ~ svg {
  fill: #4d5ae5;
}
.textarea-form {
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form:focus {
  border-color: #4d5ae5;
}
.btn-form-send {
  margin-bottom: 24px;
}
.form-contacts-textarea {
  margin-bottom: 16px;
}

.form-contacts-checkbox {
  margin-bottom: 24px;
}
.form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

#user-privacy:checked + .label-chekbox .form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-form {
  color: #4d5ae5;
}

.btn-form-sobmit {
  display: block;
  min-width: 169px;
  border-radius: 4px;
  margin: 0 auto;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-form-sobmit:hover,
.btn-form-sobmit:focus {
  background: #404bbf;
}
